<div class="top-container">
  <h1>拉麺通信</h1>
  <p>ラーメン屋専門情報サービス</p>
  <%= link_to '新規登録', new_user_registration_path, class:"btn btn-primary" %>
</div>

<div class="container">
  <h1 class="display-5 primary">拉麺通信とは</h1>
  <div class="button-jumbotron">
    <p>ラーメン屋のレビューや情報を知ることができます。</p>
    <h2>このような情報を知ることができます<i class="far fa-lightbulb"></i></h2>
  </div>
  <ul class="jumbotron-list">
    <li>近くのラーメン屋が知りたい。</li>
    <li>どんなメニューがあるか知りたい。</li>
    <li>おすすめのラーメンを知りたい。</li>
  </ul>
  <p class="jumbotron-p">上記は一例です。お店を探す際にご活用できますのでぜひ一度ご活用ください。</p>
</div>

