<h3>コメント<%= @post.comments.count %></h3>
<% @comments.each do |comment| %>
 <%= link_to comment.user.username, user_path(comment.user.id) %>
  <% if comment.user_id == current_user.id %>
   <%= link_to '削除', post_comment_path(comment.post.id, comment.id), method: :delete %>
  <% end %>
  <div class="comment-content">
   <%= simple_format comment.comment %>
  </div>
<% end %>
