<% if @post.user_id != current_user.id %>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment %>
    <div class="comment-form">
      <%= f.submit '送信', class: "comment-btn" %>
    </div>
  <% end %>
<% end %>
