/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body{
    padding-top: 3rem;
    width: 100%;
    justify-content: space-between;
  }

  footer {
    text-align: center;
    background-color: rgb(51, 51, 51);
    color: white;
    width: 100%;
    bottom: 0;
    padding: 0;
    margin-bottom: -16px;
    font-size: 15px;
    border-top: solid 1px rgb(51, 51, 51);
  }

  .no-underline{
    padding-right: 10px;
    text-decoration:none !important;
    color: white;
  }

  .top-container {
    background-image: url("/images/store.jpeg");
    height: 500px;
    width: 100%;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 200px;
  }

  .top-container p {
    font-size: 35px;
  }

  .top-container h1 {
    font-size: 55px;
  }
    
  .top-container .btn {
    font-size: 25px;
  }

  @media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .top-container p {
      font-size: 28px;
    }

    .top-container h1 {
      font-size: 45px;
    }

    .top-container .btn {
      font-size: 20px;
    }
  }
  
  .display-5 {
    padding-top: 20px;
  }
  .container-login {
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid rgb(8, 169, 190);
    box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
    border-radius:  20px;
  }
  
  .login {
    color: rgba(78, 181, 207, 0.938);
    border-bottom: 1px solid;
    text-align: center
  }
  
  .field {
    font-size: 18px;
    color: rgba(38, 89, 102, 0.938);
  }
  input[type="text"] {
    width: 400px;
    height: 28px;
  }

  input[type="email"] {
    width: 400px;
    height: 28px;
  }
  
  input[type="password"] {
    width: 400px;
    height: 28px;
  }

  .actions {
    text-align: right;
  }

  .actions input[type="submit"] {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .actions-password [type="submit"] {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
  }

  @media screen and (max-width: 480px) {
    .container-login {
      width: 300px;
      margin: 30px auto;
      padding: 20px;
      border: 1px solid rgb(8, 169, 190);
      box-shadow: 0 10px 25px 0 rgba(60, 194, 235, 0.5);
      border-radius:  20px;
    }

    .login {
      font-size: 20px;
    }

    input[type="text"] {
      width: 200px;
      height: 28px;
    }
  
    input[type="email"] {
      width: 200px;
      height: 28px;
    }
    
    input[type="password"] {
      width: 200px;
      height: 28px;
    }
  }

  .user-index {
    text-align: center;
    width: 80%;
    border:1px solid gray; padding:5px; margin:5px; 
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .user-name {
    font-size: 30px;
  }

  

  .post-container {
    width: 100%;
    }

  .tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 0 auto;
  }

  .tab_item {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }

  .tab_item:hover {
    opacity: 0.75;
  }

  input[name="tab_item"] {
    display: none;
  }

  .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
  }

  #post-all:checked ~ #all_content,
  #post-favorites:checked ~ #favorites_content{
    display: block;
  }

  .tabs input:checked + .tab_item {
    background-color: #5ab4bd;
    color: #fff;
  }


  .post-title {
    background-color:white; display: block;
    border:1px solid gray; padding:5px; margin:5px; 
    width: 70%; 
    height: 100px;
    margin: 0 auto;
    color: black;
  }

  .post-title:hover {
    background-color: rgb(206, 206, 206);
  }

   .post-underline:hover {
    text-decoration: none;
   }

   .paginate {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
   }

   @media screen and (max-width: 480px) {
    .post-title {
      width: 90%; 
    }
   }


  .nav {
    margin-left: auto;
    margin-right: auto;
    
  }
  .nav a {
    padding:  10px; 
    margin:  0 auto;
    text-decoration: none; 
    
  }

  .nav p {
    background-color: white; 
    color: black;
  }

  .user-back {
    font-size: 30px;
    text-decoration:none !important;
    color: black;
  }

  .user-container {
    display:flex;
  }

  .user-follow h2 {
    text-align: center;
  }

  .user-menu {
    background-color:white; display:block;
    border:1px solid gray; padding:5px; margin: 0 10px;
    font-size: 30px;
  }

  .follow-name {
    padding-right: 10px;
    text-decoration:none !important;
    color: black;
  }
  
  .post-new {
    width: 80%;
    margin: auto;
    margin-top: -120px;
    margin-bottom: 120px;
    position:relative
  }

  .post-edit {
    width: 80%;
    margin: auto;
    position:relative
  }

  .contact-table {
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
  }

  .contact-item,
  .contact-body {
    padding: 20px;
    border: 1px solid #ccc;
  }

  .contact-item {
    text-align: left;
    width: 30%;
    background-color: #eee;
  }

  .contact-body {
    width: 50%;
  }
  
  .post-btn {
    padding-bottom: 40px;
    position: absolute;
    top: 105%;
    left: 45%;
  }

  @media screen and (max-width: 480px){
   .post-new {
      width: 100%;
    }

    .contact-table th,
    .contact-table td {
      margin: auto;
      display: block;
      width: 100%;
    }

    .contact-item {
      font-size: 15px;
    }

    .contact-body {
      font-size: 12px;
    }

    .post-btn {
      padding-bottom: 40px;
      position: absolute;
      top: 102%;
      left: 40%;
    }

  }

  .post-edit-btn {
    padding-bottom: 40px;
    text-align: center;
  }

  .post-index {
    padding-top: 40px;
  }


  .favorite {
    width: 90%;
    padding-bottom: 20px;
  }

  .favorite-index {
    margin-left: auto;
    width:200px;
    height:60px;
    background:rgb(248, 242, 205);
    border:1px solid rgb(201, 189, 173);
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .favorite p {
    padding-top: 15px;
    font-size: 20px;
  }

  .btn-position{
    margin: auto;
  }

  .comment-index {
    width: 80%;
    background:rgb(250, 250, 250);
    border:1px solid gray; padding:5px; margin:5px; 
    margin: auto;
    position:relative
  }

  .comment-user {
    text-decoration:none !important;
    color:black;
    font-size: 20px;
  }

  .comment-new {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
  }

  .comment-btn {
    display       : inline-block;
    border-radius : 20%;         
    font-size     : 15px;      
    text-align    : center;      
    cursor        : pointer;    
    padding       : 10px 15px;  
    background    : #5656fd;    
    color         : #ffffff;     
    line-height   : 1em;        
    transition    : .3s;         
    border        : 2px solid #5656fd; 
  }

  .btn-trash {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .search {
    padding-top: 20px;
    text-align: center;
  }

  .post-username {
    position:relative;
    padding-top: 10px;
  }

  .post-body {
    color:black;
    position:relative;
    border:1px solid gray; padding:5px; margin:5px; 
  }

  .post-body:hover {
    background-color: rgb(206, 206, 206);
  }

  .underline {
    font-size: 20px;
    text-decoration:none !important;
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
  }


  .post-body p {
    color: black;
  }

  .post-body-container {
    margin-top: 10px;
  }

  .tag {
    display: inline-block;
    margin: 0 .1em .1em 0;
    padding: .2em;
    line-height: 1;
    text-decoration: none;
    color: #0000ee;
    background-color: #fff;
    border: 1px solid #0000ee;
  }

  .post-user {
    border:1px solid gray; border:1px solid gray; padding:5px; margin:5px; 
    width: 40%;
    color: black;
    text-decoration:none !important;
  }

  .post-user:hover {
    color:#565656;
  }
  
  .text-position {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
  }

  .post-search {
    margin: auto;
    font-size: 25px;
  }
 